.sidebar-menu {
  a, a:hover, a:active, a:focus {
    text-decoration: none;
  }
  .treeview-menu {
    display: block;
    overflow: hidden;
    height: 0;
    padding: 0 0 0 5px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease ;
    -ms-transition: all .5s ease ;
    -o-transition: all .5s ease ;
    transition: all .5s ease ;
  }
  .treeview-menu.menu-open {
    display: block;
    height: auto;
    padding: 10px 0 10px 5px;
  }
}